<a href="https://colab.research.google.com/github/bsssgrace/Data-Science-bootcamp-projects/blob/main/HW_Essential_Python_API_Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **API - Scrape & Build DataFrame**

In [19]:
!pip install gazpacho

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gazpacho in /usr/local/lib/python3.7/dist-packages (1.1)

In [2]:
from gazpacho import Soup
from requests import get

In [68]:
# define a url
url = "https://thewinelist.shop/10-wine"

In [69]:
resp = get(url)
resp.status_code

200

In [70]:
wine = Soup(resp.text)

In [71]:
wine.find("h3")

[<h3 class="h3 product-title">
   <a href="https://thewinelist.shop/bundles/760837-santa-carolina-couple-pack.html">Santa Carolina Couple Pack</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-sparkling/33-santa-carolina-brut-chardonnay-nv.html">Santa Carolina Brut Chardonnay N.V.</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-white/26-santa-carolina-premio-sauvignon-blanc-2014.html">Santa Carolina Premio Sauvignon Blanc 2014</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine/761242-chateau-haut-brion-1er-grand-cru-classe-2013.html">Chateau HAUT BRION 1er Grand Cru Classe 2013</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/rose/264-hunter-s-wine-marlborough-pinot-noire-rose-2017.html">Hunter's Pinot Noir Rose 2017</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/sweet-wines/172-brown-brothers-moscato-2017.html">Brown Brothers Moscato</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-sparkling/88-blue-nun-blue-nun-sparkling-nv.html">Blue Nun Blue Nun Sparkling Wine N.V.</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-white/28-santa-carolina-sauvignon-blanc-semillon-vistana-2017.html">Santa Carolina SAUVIGNON BLANC SEMILLON &quot;Vistana&quot; 2017</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-red/24-mascota-vineyards-big-bat-cabernet-sauvignon-2015.html">Mascota Vineyards Big Bat Cabernet Sauvignon 2014</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/sweet-wines/273-chateau-d-yquem-1er-grand-cru-classe-eceptionnel-2014.html">Chateau d'Yquem 1er Grand Cru Classé Eceptionnel 2014 (375ml.)</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-sparkling/89-blue-nun-24k-gold-edition-24k-gold-edition-nv.html">Blue Nun Blue Nun 24K Gold Edition N.V.</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-white/31-santa-carolina-cellar-selection-sauvignon-blanc-2017.html">Santa Carolina Cellar Selection Sauvignon Blanc 2017</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/rose/279-bodvar-house-of-rose-n-1-pearly-rose-cinsault-2016.html">Bodvar Bodvár N° 1 Rosé , Lightly Sparkling Wine 2016</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/sweet-wines/274-chateau-d-arche-2em-vin-soleil-d-arche-2012.html">Chateau D'ARCHE 2em Vin SOLEIL D'ARCHE 2012</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-sparkling/164-gancia-prosecco-spumante-prosecco-spumante-doc-nv.html">Gancia Prosecco Nv</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-white/32-santa-carolina-cellar-selection-chardonnay-2017.html">Santa Carolina Cellar Selection Chardonnay 2017</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-red/27-santa-carolina-vistana-cabernet-sauvignon-merlot-2014.html">Santa Carolina Vistana Cabernet Sauvignon Merlot 2014</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/rose/280-bodvar-house-of-rose-bodvar-n-5-rose-grenache-cinsault-and-rolle-2017.html">BODVÁR House of Rose BODVÁR N° 5 ROSÉ Grenache, Cinsault and Rolle 2017</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/sweet-wines/275-chateau-doisy-vedrines-2em-grand-cru-classe-1993.html">Chateau Doisy Vedrines 2em Grand Cru Classe 1993</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-sparkling/165-rivani-prosecco-spumante-prosecco-spumante-doc-nv.html">Rivani Prosecco Spumante Extra Dry Nv</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-white/36-santa-carolina-estrellas-sauvignon-blanc-2016.html">Santa Carolina Sauvignon Blanc &quot;Estrellas&quot; 2016</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/rose/281-bodvar-house-of-rose-bodvar-n-7-rose-grenache-cinsault-and-syrah-2017.html">BODVÁR House of Rose BODVÁR N° 7 ROSÉ Grenache, Cinsault and Syrah 2017</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/sweet-wines/276-chateau-doisy-daene-2em-grand-cru-classe-1996.html">Ch. Doisy Daene 2Em Grand Cru Classé 1996</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-sparkling/166-rivani-vino-spumante-dolce-moscato-nv.html">Rivani Moscato Spumante Dolce Nv</a>
 </h3>]

In [72]:
wine.find("h3", {'class': 'h3 product-title'})

[<h3 class="h3 product-title">
   <a href="https://thewinelist.shop/bundles/760837-santa-carolina-couple-pack.html">Santa Carolina Couple Pack</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-sparkling/33-santa-carolina-brut-chardonnay-nv.html">Santa Carolina Brut Chardonnay N.V.</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-white/26-santa-carolina-premio-sauvignon-blanc-2014.html">Santa Carolina Premio Sauvignon Blanc 2014</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine/761242-chateau-haut-brion-1er-grand-cru-classe-2013.html">Chateau HAUT BRION 1er Grand Cru Classe 2013</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/rose/264-hunter-s-wine-marlborough-pinot-noire-rose-2017.html">Hunter's Pinot Noir Rose 2017</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/sweet-wines/172-brown-brothers-moscato-2017.html">Brown Brothers Moscato</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-sparkling/88-blue-nun-blue-nun-sparkling-nv.html">Blue Nun Blue Nun Sparkling Wine N.V.</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-white/28-santa-carolina-sauvignon-blanc-semillon-vistana-2017.html">Santa Carolina SAUVIGNON BLANC SEMILLON &quot;Vistana&quot; 2017</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-red/24-mascota-vineyards-big-bat-cabernet-sauvignon-2015.html">Mascota Vineyards Big Bat Cabernet Sauvignon 2014</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/sweet-wines/273-chateau-d-yquem-1er-grand-cru-classe-eceptionnel-2014.html">Chateau d'Yquem 1er Grand Cru Classé Eceptionnel 2014 (375ml.)</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-sparkling/89-blue-nun-24k-gold-edition-24k-gold-edition-nv.html">Blue Nun Blue Nun 24K Gold Edition N.V.</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-white/31-santa-carolina-cellar-selection-sauvignon-blanc-2017.html">Santa Carolina Cellar Selection Sauvignon Blanc 2017</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/rose/279-bodvar-house-of-rose-n-1-pearly-rose-cinsault-2016.html">Bodvar Bodvár N° 1 Rosé , Lightly Sparkling Wine 2016</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/sweet-wines/274-chateau-d-arche-2em-vin-soleil-d-arche-2012.html">Chateau D'ARCHE 2em Vin SOLEIL D'ARCHE 2012</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-sparkling/164-gancia-prosecco-spumante-prosecco-spumante-doc-nv.html">Gancia Prosecco Nv</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-white/32-santa-carolina-cellar-selection-chardonnay-2017.html">Santa Carolina Cellar Selection Chardonnay 2017</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-red/27-santa-carolina-vistana-cabernet-sauvignon-merlot-2014.html">Santa Carolina Vistana Cabernet Sauvignon Merlot 2014</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/rose/280-bodvar-house-of-rose-bodvar-n-5-rose-grenache-cinsault-and-rolle-2017.html">BODVÁR House of Rose BODVÁR N° 5 ROSÉ Grenache, Cinsault and Rolle 2017</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/sweet-wines/275-chateau-doisy-vedrines-2em-grand-cru-classe-1993.html">Chateau Doisy Vedrines 2em Grand Cru Classe 1993</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-sparkling/165-rivani-prosecco-spumante-prosecco-spumante-doc-nv.html">Rivani Prosecco Spumante Extra Dry Nv</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-white/36-santa-carolina-estrellas-sauvignon-blanc-2016.html">Santa Carolina Sauvignon Blanc &quot;Estrellas&quot; 2016</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/rose/281-bodvar-house-of-rose-bodvar-n-7-rose-grenache-cinsault-and-syrah-2017.html">BODVÁR House of Rose BODVÁR N° 7 ROSÉ Grenache, Cinsault and Syrah 2017</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/sweet-wines/276-chateau-doisy-daene-2em-grand-cru-classe-1996.html">Ch. Doisy Daene 2Em Grand Cru Classé 1996</a>
 </h3>, <h3 class="h3 product-title">
   <a href="https://thewinelist.shop/wine-sparkling/166-rivani-vino-spumante-dolce-moscato-nv.html">Rivani Moscato Spumante Dolce Nv</a>
 </h3>]

### **Title**

In [73]:
wine.find("h3", {'class': 'h3 product-title'}, mode='first').strip()

'Santa Carolina Couple Pack'

In [74]:
titles = wine.find("h3", {'class': 'h3 product-title'})

clean_titles = [title.strip() for title in titles]

list(clean_titles)

['Santa Carolina Couple Pack',
 'Santa Carolina Brut Chardonnay N.V.',
 'Santa Carolina Premio Sauvignon Blanc 2014',
 'Chateau HAUT BRION 1er Grand Cru Classe 2013',
 "Hunter's Pinot Noir Rose 2017",
 'Brown Brothers Moscato',
 'Blue Nun Blue Nun Sparkling Wine N.V.',
 'Santa Carolina SAUVIGNON BLANC SEMILLON "Vistana" 2017',
 'Mascota Vineyards Big Bat Cabernet Sauvignon 2014',
 "Chateau d'Yquem 1er Grand Cru Classé Eceptionnel 2014 (375ml.)",
 'Blue Nun Blue Nun 24K Gold Edition N.V.',
 'Santa Carolina Cellar Selection Sauvignon Blanc 2017',
 'Bodvar Bodvár N° 1 Rosé , Lightly Sparkling Wine 2016',
 "Chateau D'ARCHE 2em Vin SOLEIL D'ARCHE 2012",
 'Gancia Prosecco Nv',
 'Santa Carolina Cellar Selection Chardonnay 2017',
 'Santa Carolina Vistana Cabernet Sauvignon Merlot 2014',
 'BODVÁR House of Rose BODVÁR N° 5 ROSÉ Grenache, Cinsault and Rolle 2017',
 'Chateau Doisy Vedrines 2em Grand Cru Classe 1993',
 'Rivani Prosecco Spumante Extra Dry Nv',
 'Santa Carolina Sauvignon Blanc "Estrellas" 2016',
 'BODVÁR House of Rose BODVÁR N° 7 ROSÉ Grenache, Cinsault and Syrah 2017',
 'Ch. Doisy Daene 2Em Grand Cru Classé 1996',
 'Rivani Moscato Spumante Dolce Nv']

### **Price**

In [75]:
wine.find("span", {'class': 'product-price'},mode='first').strip()

'฿1,499.00'

In [76]:
prices = wine.find("span", {'class': 'product-price'})
prices = [price.strip() for price in prices]

list(prices)

['฿1,499.00',
 '฿790.00',
 '฿590.00',
 '฿39,000.00',
 '฿880.00',
 '฿740.00',
 '฿630.00',
 '฿590.00',
 '฿2,650.00',
 '฿24,610.00',
 '฿990.00',
 '฿535.00',
 '฿1,230.00',
 '฿3,200.00',
 '฿800.00',
 '฿535.00',
 '฿625.00',
 '฿1,810.00',
 '฿3,200.00',
 '฿825.00',
 '฿570.00',
 '฿1,595.00',
 '฿3,950.00',
 '฿660.00']

### **Category**

In [77]:
wine.find("div", {'class': 'product-category-name text-muted'},mode='first').strip()

'Bundles'

In [79]:
categories = wine.find("div", {'class': 'product-category-name text-muted'})
categories = [category.strip() for category in categories]

list(categories)

['Bundles',
 'Sparkling',
 'White',
 'Wine',
 'Rose',
 'Sweet Wines',
 'Sparkling',
 'White',
 'Red',
 'Sweet Wines',
 'Sparkling',
 'White',
 'Rose',
 'Sweet Wines',
 'Sparkling',
 'White',
 'Red',
 'Rose',
 'Sweet Wines',
 'Sparkling',
 'White',
 'Rose',
 'Sweet Wines',
 'Sparkling']

### **DataFrame**

In [81]:
import pandas as pd
wine_df = pd.DataFrame({
    "Title": clean_titles,
    "Price": prices,
    "Category": categories
})

wine_df.head(10)

                                               Title       Price     Category
0                         Santa Carolina Couple Pack   ฿1,499.00      Bundles
1                Santa Carolina Brut Chardonnay N.V.     ฿790.00    Sparkling
2         Santa Carolina Premio Sauvignon Blanc 2014     ฿590.00        White
3       Chateau HAUT BRION 1er Grand Cru Classe 2013  ฿39,000.00         Wine
4                      Hunter's Pinot Noir Rose 2017     ฿880.00         Rose
5                             Brown Brothers Moscato     ฿740.00  Sweet Wines
6              Blue Nun Blue Nun Sparkling Wine N.V.     ฿630.00    Sparkling
7  Santa Carolina SAUVIGNON BLANC SEMILLON "Vista...     ฿590.00        White
8  Mascota Vineyards Big Bat Cabernet Sauvignon 2014   ฿2,650.00          Red
9  Chateau d'Yquem 1er Grand Cru Classé Eceptionn...  ฿24,610.00  Sweet Wines

---

### 1) Number of available bottle of wines by each category

In [82]:
wine_df['Category'].value_counts().reset_index()

         index  Category
0    Sparkling         6
1        White         5
2  Sweet Wines         5
3         Rose         4
4          Red         2
5      Bundles         1
6         Wine         1

### 2) Top 5 of the most expensive Sparkling

In [83]:
result = wine_df.query("Category == 'Sparkling'")
result.head(5).sort_values(by='Price',axis=0,ascending=False).reset_index(drop=True)

                                     Title    Price   Category
0  Blue Nun Blue Nun 24K Gold Edition N.V.  ฿990.00  Sparkling
1    Rivani Prosecco Spumante Extra Dry Nv  ฿825.00  Sparkling
2                       Gancia Prosecco Nv  ฿800.00  Sparkling
3      Santa Carolina Brut Chardonnay N.V.  ฿790.00  Sparkling
4    Blue Nun Blue Nun Sparkling Wine N.V.  ฿630.00  Sparkling

### 3) Min and Max of price by each category

In [100]:
wine_df.groupby('Category')[["Price"]].aggregate([min, max])

                  Price
                    min         max
Category
Bundles       ฿1,499.00   ฿1,499.00
Red           ฿2,650.00     ฿625.00
Rose          ฿1,230.00     ฿880.00
Sparkling       ฿630.00     ฿990.00
Sweet Wines  ฿24,610.00     ฿740.00
White           ฿535.00     ฿590.00
Wine         ฿39,000.00  ฿39,000.00